@font-face {
  font-family: 'Roboto', sans-serif;
}  

body {
  background: #333333;
  font-family: 'Roboto', sans-serif;
  color: #333333;  
}	  

#navbar {
  width: 100%;
  height: 50px;
  background-color:#FFFFFF;
  position: fixed;
  top: 0px;
  box-shadow: 0px 0px 35px 0px #000000;
  left: 0px;
  display: inline;
}

.logobox {
  float: left;
  height: 100%;
  width: auto;
}

.myTitle {
  margin: 11px 16px 15px;
}

.buttonBox {
  float: right;
  height: 100%;
  width: auto;
  color: #333;
}

.ulBox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    height: 100%;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #EAEAEA;
}

.active {
    background-color: #4CAF50;
}

#title {
  font-size: 26px;
}

#container{
   width: 75%; 
   margin: 0 auto;
   height: margin: 0 auto;
   text-align: center !important;
   top: 50%;
   margin-top: 100px;/* half of #content height*/
   margin-bottom: 100px;/* half of #content height*/
}
#content {
  font-size: 18pt;
  background-color:#FFFFFF;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-top: 30px;
  max-width: 1300px;
  min-width: 500px;
  padding-right: 30px;
  display: inline-block;
  box-shadow: 0px 0px 35px 0px #000000;
}

#messaging-container {
	padding: 30px;
	width: auto;


}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}


/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    position: fixed; 
    bottom:0%;
    

}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/*    Profile view page   */

.proimg-container {
    width: 500px;
    height: auto;
    background: #fbfbfb;
}

.profile-header h3{
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  margin-top: 0px;

}

.other-info {
  font-weight: 300;
  font-size: 16pt;
}

.proimg-container > .profile-header h3 {
  margin: 0;
  padding: 4px;
  font-size: 16pt;
  font-weight: 300;
  color: #333;
}

.proimg-container > .data-container {
  height: auto; 
  font-size: 14pt;
  overflow-y: hidden;
  overflow-x: hidden;
  width: auto;
  padding: 15px;
  font-size: 16pt;
}

.profile-top {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 30px;
}

.profile-top > .full-name {
  width: 60%;
  padding: 15px;
  margin: 2px 12px 9px;
  border-radius: 2px;
  font-size: 32px;

}

.profile-container {
  font-weight: 350;
}

.profile-top .user-photo {
  width: 80px;
  height: 80px;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
}

.profile-top .user-photo img{
  width: 100%;
  height: 100%;
}

/*    Messaging view page   */

.parent-container {
   height: 750px;
   width: 1100px;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.user-container {
  width: 300px;
  border-bottom: 1px solid #ddd;
  height: 100%;
}

.profiles-container {
  width: 300px;
  height: 100%;
}


h5 {
  margin: 350px 150px 0px;
  font-weight: 300;
}


.messaging-container {
    width: 500px;
    height: 810px;
    background: #fbfbfb;
    margin-top: -30px;
    text-align: left;
    box-shadow: 0px 0px 15px 0px #6C6C6C;
}

.messaging-container > .messaging-header {
  width: 100%;
  border-bottom: 1px solid #ddd;

}

.messaging-container > .messaging-header h3 {
  margin: 0;
  padding: 5px;
  font-size: 12pt;
  font-weight: 300;
  color: #333;
}

.messaging-container > .chat-messages {
  height: 645; 
  font-size: 14pt;
  border-bottom: 1px solid #ddd;
  overflow-y: scroll;
  overflow-x: hidden;
  width: auto;
  padding: 15px;
}

.chat-messages::-webkit-scrollbar {
  width: 10px;
}

.chat-messages::-webkit-scrollbar-thumb {
    height: 6px;
    border: 9px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 4px 0px rgba(0, 0, 0, 0.05);
}
.chat-messages::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
.chat-messages::-webkit-scrollbar-corner {
    background-color: transparent;
}
.chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}

.chat > .chat-message {
  width: 76%;
  padding: 15px;
  margin: -3px 16px 7px;
  border-radius: 2px;
  color: #fff;
}

.chat > .img-container {
  width: 83%;
  padding: 15px;
  margin: -14px 1px 0px;
  border-radius: 2px;
  color: #fff;
}

.hyperlink {
  color: white;
}

.chat > .link-container {
  width: 76%;
  padding: 15px;
  height: auto;
  margin: 0px 16px 10px;
  border-radius: 2px;
  color: #fff;
  word-wrap:break-word
}

.self .link-container {
  order: -1;
  background: #1ddced;
}

.other .link-container {
  background: #1adda4;
}

.self .link-container .hyperlink{
  width: 100%;
  height: 30px;
}

.chat > .img-container img{
  width: 100%;
}

.audio_player {
  box-shadow: 0px 0px 1px 0px #000000;
  width: 76%;
  padding: 15px;
  margin: 0px 16px 9px;
}

.video_player{
  width: 83%;
  padding: 12px;
  padding-top: 0px;
  margin: 0px 3px 0px;
}


.self .audio_player {
  order: -1;
}

.self .video_player {
  order: -1;
}

.other .chat-message {
  background: #1adda4;
}

.self .chat-message {
  background: #1ddced;
  order: -1;
}

.unsent .chat-message {
  background: #d9d9d9;
}


.self .img-container {
  order: -1;
}

.chat .user-photo {
  width: 45px;
  height: 45px;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
}

.chat .user-photo img{
  width: 100%;
  height: 100%;
}

.messaging-container > .chat-bottom {
  height: 100px;
}

.messaging-container > .chat-bottom form input[type='submit']{
  padding: 6px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.userButton {
  margin: -10px 185px 0px;
}

.user-content {
  background: #fbfbfb;
  padding-right: 0px;
  height: 750px;
  overflow-y: scroll;
  overflow-x: hidden;
}


.chat-messages::-webkit-scrollbar {
  width: 10px;
}

.chat-messages::-webkit-scrollbar-thumb {
    height: 6px;
    border: 9px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 4px 0px rgba(0, 0, 0, 0.05);
}
.chat-messages::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
.chat-messages::-webkit-scrollbar-corner {
    background-color: transparent;
}

.user-box {
  width: 281px;
  text-decoration: none;
  height: 100px;
  border: 1px solid #ddd;
  border-bottom: 0px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-items: center;
  margin-left: 0px;
  margin-top: 
}


.user-box.do-not-disturb  {
   box-shadow: inset 11px 0px 0px -6px #ca0000;
   -webkit-box-shadow: inset 11px 0px 0px -6px #ca0000;
}

.user-box.away{
   box-shadow: inset 11px 0px 0px -6px #ffe630;
   -webkit-box-shadow: inset 11px 0px 0px -6px #ffe630;
}

.user-box.offline {
   box-shadow: inset 11px 0px 0px -6px #333333;
   -webkit-box-shadow: inset 11px 0px 0px -6px #000000;
}

.user-box.online {
	box-shadow: inset 11px 0px 0px -6px #67a72f;
   -webkit-box-shadow: inset 11px 0px 0px -6px #67a72f;
}

.user-box.idle {
   box-shadow: inset 11px 0px 0px -6px #ffe630;
   -webkit-box-shadow: inset 11px 0px 0px -6px #ffe630;
}

.text-container {
    display: flex;
    justify-content: flex-start;
    align-items: left; /* this one line vertically centers all child elements */
    height: 100px;
    -webkit-flex-direction: column;
   flex-direction: column;
   vertical-align: middle;
   margin-top: 32px;
   margin-left: 5px;
   white-space: nowrap;

}

.titletext {
  margin: 0;
  padding: 5px;
  font-size: 14pt;
  font-weight: 300;
  color: #333;
  max-width: 100px;

}

.offline  {
  color: black;
}

.away {
  color: #f9b000;
}

.online {
  color: green;
}

.onlinetext {
  margin: 0;
  padding: 5px;
  font-size: 12pt;
  font-weight: 300;
  color: #333;
}

.messaging-container > .chat-bottom form input[type='text']{
  width: 80%;
  max-width: 85%;
  padding: 3px;
  padding-left: 10px;
  border-radius: spx;
  margin: 8px;
  height: 30px;
  max-height: 30px;
  overflow-y: scroll;

  resize: none;
}

.user-box .user-photo {
  width: 45px;
  margin-left: 11px;
  height: 45px;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
}

.user-box .user-photo img{
  width: 100%;
  height: 100%;
}


/* right side bar */

.sub_btn {
  margin-top: 9px;
}

.status-box {
  margin-top: 80px;
}

.profiles-container {
  border: 1px solid #ddd;
  border-left: 0;
}

h6 {
  margin-bottom: 0px;
}

.editbox {
  width: 300px;
  padding: 4px;
  height: 30px;
}

.profile-box {
  height : 500px;
}

.prof-text-box {
  padding : 15px;
  margin-top: -15px;
}

.profile-box .user-photo {
  width: 100px;
  height: 100px;`
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px 100px 0px;
}

.profile-box .user-photo img{
  width: 100%;
  height: 100%;
}

.chat-name {
  margin-top: 15px;
  margin-bottom: 14px;
  font-weight: 550;
}

.chat-prof-info {
  margin-top: 5px;
  font-size: 14pt;
  font-weight: 300;
}







